header {
	background: lightgrey;
	border: 5px solid grey; 
	width: 99%;
	height: 150px;
}
.left {
	float: left;
	background: lightgrey;
	border: 5px solid grey; 
	width: 20%;
	height: 450px;
	margin-top: 25px;
	margin-right: 15px;
	margin-right: 25px;
}
.middle {
		float: left;
	background: lightgrey;
	border: 5px solid grey; 
	width: 53%;
	height: 450px;
	margin-top: 25px;
	margin-right: 15px;
	margin-right: 25px;
}
.right {
	float: right;
	background: lightgrey;
	border: 5px solid grey; 
	width: 20%;
	height: 450px;
	margin-top: 25px;
	margin-bottom: 25px;
}
footer {
	background: lightgrey;
	border: 5px solid grey; 
	width: 99%;
	height: 150px;
	clear: both;
}